
@{
    ViewBag.Title = "Address";
}

<main class="container">
    <section class="row">
        <div class="col-4">
            Street: @ViewData["Street"]
        </div>
        <div class="col-4">
            Street: @ViewBag.ExternalNumber
        </div>
        <div class="col-4">
            Street: @ViewBag.InternalNumber
        </div>
    </section>
</main>

